{{#if tentacleVisible}}
  <div class='tentacle'>
    <img src="http://eviltrout.com/images/tentacle.gif">
  </div>
{{/if}}

<div class='buttons'>
	{{#if tentacleVisible}}
  	{{d-button class="toggle" label="purple_tentacle.hide" action="hideTentacle" icon="eye" target="view"}}
  {{else}}
	  {{d-button label="purple_tentacle.show" action="showTentacle" icon="eye" target="view"}}
	{{/if}}
</div>
